@keyframes pulseBad {
  0% {
    box-shadow: 0px 0px 30px 15px rgba(255, 0, 0, 0.6);
  }

  50% {
    box-shadow: 0px 0px 40px 20px rgba(255, 0, 0, 0.6);
  }

  100% {
    box-shadow: 0px 0px 30px 15px rgba(255, 0, 0, 0.6);
  }
}

@keyframes pulseGood {
  0% {
    box-shadow: 0px 0px 30px 15px rgba(0, 128, 0, 0.6);
  }

  50% {
    box-shadow: 0px 0px 40px 20px rgba(0, 128, 0, 0.6);
  }

  100% {
    box-shadow: 0px 0px 30px 15px rgba(0, 128, 0, 0.6);
  }
}

.field-input {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  text-align: center;
  border: 2px solid #3aaec3;
  color: #3aaec3;
}

.field-input:focus {
  outline-color: #43cde6;
}

.field-input:disabled {
  color: black;
}

.field {
  display: inline-block;
}

.fields-container {
  display: inline-block;
  transition: box-shadow 0.3s ease-in-out;
}

.bad {
  box-shadow: 0px 0px 30px 15px rgba(255, 0, 0, 0.6);
  animation: pulseBad 1s infinite;
  animation-delay: 0.3s;
}

.good {
  box-shadow: 0px 0px 30px 15px rgba(0, 128, 0, 0.6);
  animation: pulseGood 1s infinite;
  animation-delay: 0.3s;
}
